@import "../node_modules/normalize.css/normalize";
@import "./grid-settings";
@import "neat";
$gutter: 20px;
// https://medium.freecodecamp.com/the-100-correct-way-to-do-css-breakpoints-88d6a5ba1862#.adpufyefv
@mixin for-phone-only {
    @media (max-width: 599px) {
        @content;
    }
}

@mixin for-tablet-portrait-up {
    @media (min-width: 600px) {
        @content;
    }
}

@mixin for-tablet-landscape-up {
    @media (min-width: 900px) {
        @content;
    }
}

@mixin for-desktop-up {
    @media (min-width: 1200px) {
        @content;
    }
}

@mixin for-big-desktop-up {
    @media (min-width: 1800px) {
        @content;
    }
}

$for-phone-only: new-breakpoint(max-width 599px, 12);
$for-tablet-portrait-up: new-breakpoint(min-width 600px, 12);
.container {
    @include outer-container;
}

.wrapper {
    margin: 0;
    @include span-columns(12);
    .picture {
        display: block;
        width: 100%;
    }
    .caption {
        display: none;
    }
}

.months,
.pictures {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
        margin: 0;
        padding: 0;
    }
}

.month {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}